body {
background-color: lightgrey;
}
 .bar {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: grey;
}
h3 {
 font-family: 'Open Sans', sans-serif;
 font-size: 50px;
 text-align: center;
}
p {
  font-family: 'Open Sans', sans-serif;
  color: #616b6b;
  text-align: center;
}
ul {
  font-family: 'Open Sans', sans-serif;
  color: #616b6b;

}
h5 {
  font-family: 'Open Sans', sans-serif;
  color: #8c1aff;
}
.navbar {
  overflow: hidden;
  background-color: white;
  text-align: center;
}

.navbar a {
  float: left;
  font-size: 12px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 12px;
  border: none;
  outline: none;
  color:black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: orange;
}
.contents{
  background-color: lightgrey;
  padding-bottom: 75px;
}
#generated td, #generated th{
  border: 1px solid black;
}
.info{
  color: white;
  text-indent: 50px;
}

.place{
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
  border-radius: 25px;
  background-color: white;
   padding-left: 70px;
   padding-right: 70px;
   padding-top: 10px;
   padding-bottom: 10px;
  transition: 0.3s;
  width: 70%;
  margin: auto;

}
.text_fields{
  border-radius: 15px;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
  background-color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
  width: 70%;
  margin: auto;
}
.testimony{
   box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
   border-radius: 15px;
  background-color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
  width: 80%;
  margin: auto;
}
.table{
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
  border-radius: 15px;
  background-color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
  width: 70%;
  margin: auto;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: grey;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.subnav-content a:hover {
  background-color: grey;
  color: black;
}

.subnav:hover .subnav-content {
  display: block;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slideshow {
  max-width: 1260px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;

}
.faq{
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: white;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s;
  width: 70%;
  margin: auto;

}
img {vertical-align: middle; width: 1000px; height: 600px; }
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
.text {
  color: #f2f2f2;
  font-size: 100px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
